<section id='details'>
  <div class="container">

    <div class="row featurette">
      <div class="col-sm-7">
        <h2 class="featurette-heading">Ceremony <br>
          <span class="text-muted">Linden Row Inn</span>
        </h2>
        <p class='text-muted'>100 E Franklin St &middot; Richmond, VA 23219</p>
        <p class="lead">Our ceremony is in the garden courtyard of this historic boutique hotel in the heart of Downtown Richmond.</p>
        <p><a class="btn btn-sm btn-default" href="http://www.lindenrowinn.com/history" target="_blank" role="button">Learn more →</a></p>
      </div>
      <div class="col-sm-5">
        <img class="featurette-image img-responsive img-rounded img-linden" src="/img/linden-norm.png" alt="Linden Row">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-sm-5">
        <img class="featurette-image img-responsive img-rounded img-vmfa" src="/img/vmfa-norm.png" alt="Virginia Museum of Fine Arts">
      </div>
      <div class="col-sm-7">
        <h2 class="featurette-heading">Reception <br><span class="text-muted">Virginia Museum of Fine Arts</span></h2>
        <p class='text-muted'>200 N Boulevard &middot; Richmond, VA 23220</p>
        <p class="lead">Our reception follows at the Best Café, which overlooks a reflecting pool and sculpture garden.</p>
        <p><a class="btn btn-sm btn-default" href="http://www.vmfa.state.va.us/Visit/" target="_blank" role="button">Learn more →</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class='directions'>
      <h2>Directions to reception</h2>
      <p class='lead'>Click <a href="https://goo.gl/maps/hkXgA" target="_blank">here</a> for step-by-step directions from Linden Row Inn.</p>
      <p>Free parking is available in the VMFA parking deck.</p>
      <a href="https://goo.gl/maps/hkXgA" target="_blank">
        <img class="featurette-image img-responsive img-rounded" src="/img/directions.png" alt="Directions">
      </a>
    </div>

  </div>
</section>
