<section id='about-us'>
  <div class="container">

      <h1 class="page-header">By the numbers</h1>

      <div class="row">

        <div class="col-sm-4">
          <h2 class='big-number'><%= (@today - @couple_start).to_i %></h2>
          <p>days we've been a couple</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>2</h2>
          <p>times Libby has beaten Brendan in ping pong</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>400</h2>
          <p>square footage of our first NYC apartment</p>
        </div>

      </div>

      <div class='row'>

        <div class="col-sm-4">
          <h2 class='big-number'>6</h2>
          <p>Apple products that Brendan owns</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>634</h2>
          <p><a href='https://www.google.com/maps/dir/Charlottesville,+VA/Pittsburgh,+PA/@39.2212939,-80.3134665,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x89b3862dea50a48f:0x9086f096c38b74fc!2m2!1d-78.4766781!2d38.0293059!1m5!1m1!1s0x8834f16f48068503:0x8df915a15aa21b34!2m2!1d-79.9958864!2d40.4406248!3e0' target='_blank'>miles</a> per trip to see each other during college ('06-'08)</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>1</h2>
          <p>times Libby has been to Space Camp</p>
        </div>

      </div>

      <div class='row'>

        <div class="col-sm-4">
          <h2 class='big-number'>2010</h2>
          <p>year we graduated from UVA (Wahoowa!)</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>4.5</h2>
          <p>Libby's ring size</p>
        </div>

        <div class="col-sm-4">
          <h2 class='big-number'>14</h2>
          <p>v-neck shirts in Brendan's closet</p>
        </div>

      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class='text-center'>
        <h2 class='big-number'><%= (@today - @wedding).to_i %></h2>
        <h2>days we've been married!</h2>
      </div>

  </div>
</section>
