<section id='home'>
  <div class="container">

    <% if flash[:success] %> 
    <div class="alert alert-success" role="alert">
      <strong>Thanks!</strong> Your RSVP is on the way! <i class="fa fa-paper-plane-o"></i>
    </div>         
    <% end %>

    <div class='hero'>
      <div class='intro'>
        <h2 class='hero-title'>we're married!</h2>
        <h3 class='hero-subtitle text-muted'>09.27.14 &middot; richmond, va</h3>
      </div>
      <div class="row text-center lb-pics">
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo0-sm.jpg"></div>
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo1-sm.jpg"></div>
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo2-sm.jpg"></div>
      </div>
    </div>

<!--     <div class="text-center">
      <p class="lead rsvp-headline">going to reception?</p>
      <a class="btn btn-lg btn-default" href="/rsvp">directions here!</a>
    </div> -->

  </div>
</section>
