<section id='home'>
  <div class="container">

    <div class='hero'>

      <div class="row text-center lb-pics">
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo0-sm.jpg"></div>
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo1-sm.jpg"></div>
        <div class="col-xs-4 col-xs-6 us-pic-holder"><img class="" src="/img/Photo2-sm.jpg"></div>
      </div>

      <h2 class='hero-title'>we're getting married :)</h2>
      <h3 class='hero-subtitle text-muted'>09.27.14 &middot; richmond, va</h3>

    </div>

  </div>
</section>
