<section id='people'>
  <div class="container">

    <div class='bridesmaids'>

      <h1 class="page-header">Bridesmaids</h1>

      <div class="row peeps">
        <div class="col-sm-3 col-xs-6">
          <img class="img-circle" src="/img/anna-crop.png" alt="">
          <h2>Anna <span class='moh'>(MOH)</span> <br><small>aka Scooby</small></h2>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-circle" src="/img/cait-crop.png" alt="">
          <h2>Caitlin <br><small>aka Caiters</small></h2>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-circle" src="/img/lauren-crop.png" alt="">
          <h2>Lauren <br><small>aka Gibbs</small></h2>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img class="img-circle" src="/img/linds-crop.png" alt="">
          <h2>Lindsay <br><small>aka Linds</small></h2>
        </div>
      </div><!-- /.row -->

    </div>

      <div class='groomsmen'>

        <h1 class="page-header">Groomsmen</h1>

        <div class="row peeps">
          <div class="col-sm-4 col-xs-6">
            <img class="img-circle" src="/img/jacko.png" alt="">
            <h2>Jack <br><small>aka Jacko</small></h2>
          </div>
          <div class="col-sm-4 col-xs-6">
            <img class="img-circle" src="/img/ryan.jpg" alt="">
            <h2>Ryan <br><small>aka Mr. Manager</small></h2>
          </div>
          <div class="col-sm-4 col-xs-6">
            <img class="img-circle" src="/img/stevily.jpg" alt="">
            <h2>Steve <br><small>aka Stevily</small></h2>
          </div>
        </div><!-- /.row -->

      </div>


    </div>

  </div>
</section>
