<section id='registry'>
  <div class="container">

    <h1 class="page-header">Registry</h1>

    <div class="row text-center">
      <div class="col-xs-4">
        <a href='http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541113449&pwsurl=' target='_blank'>
          <img class="img-rounded img-responsive img-registry" src="/img/reg-bbb.png" alt="">
        </a>
      </div>
      <div class="col-xs-4">
        <a href='http://www.crateandbarrel.com/Gift-Registry/Brendan-Sudol-and-Libby-Gilchrist-thompson/r5123865' target='_blank'>
          <img class="img-rounded img-responsive img-registry" src="/img/reg-crate.png" alt="">
        </a>
      </div>
      <div class="col-xs-4">
        <a href='http://www.honeyfund.com/wedding/libbyandbrendan' target='_blank'>
          <img class="img-rounded img-responsive img-registry" src="/img/reg-honeyfund.png" alt="">
        </a>
      </div>
    </div>

    <p class='lead'>
      We are so lucky to have such amazing family and friends — your support and love are the greatest gifts. Can't wait to celebrate with you!<br>
      Love, L & B
    </p>

  </div>
</section>