<section id='lodging'>
  <div class="container">

    <h1 class="page-header">Stay</h1>

    <p class='lead'>We've reserved blocks at the following hotels:</p>

    <div class="row hotel-options">
      <div class="col-sm-6">
        <h3 class='hotel-title'>Linden Row Inn</h3>
        <p class='text-muted'>100 E Franklin St &middot; Richmond, VA 23219</p>
        <p>
          <a class="btn btn-sm btn-default" href="http://reservation.worldweb.com/Bookings-nr105/activity-edit.html?table=hotels&listing_id=692&mode=command&command=bookingrequestform&hotel_id=692" target="_blank" role="button">Book now →</a> 
          <!-- <span>Access code: GTSWB</span> -->
        </p>
      </div>
      <div class="col-sm-6">
        <h3 class='hotel-title'>Hilton Garden Inn</h3>
        <p class='text-muted'>501 E Broad St &middot; Richmond, VA 23219</p>
        <p><a class="btn btn-sm btn-default" href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/R/RICDTGI-GTSW-20140926/index.jhtml" target="_blank" role="button">Book now →</a></p>
      </div>
    </div>

    <h1 class="page-header">Play</h1>

    <p class='lead'>Here are some suggestions for fun things to do. Shout hooray!</p>

    <div class="row fun-options">

      <div class="col-sm-6">
        <p><i class='fa fa-sun-o'></i> Fresh air</p>
        <ul>
          <li>Lewis Ginter Botanical Garden</li>
          <li>Maymont Park</li>
          <li>Riverfront Canal Walk</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p><i class='fa fa-credit-card'></i> Shopping</p>
        <ul>
          <li>Carytown District</li>
          <li>Short Pump Town Center</li>
        </ul>
      </div>

    </div>

    <div class="row fun-options">

      <div class="col-sm-6">
        <p><i class='fa fa-ticket'></i> Arts & history</p>
        <ul>
          <li>American Civil War Museum</li>
          <li>Edgar Allen Poe Museum</li>
          <li>Science Museum of Virginia</li>
          <li>Virginia Museum of Fine Arts</li>
          <li>Virginia Center for Architecture</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <p><i class='fa fa-beer'></i> Drinks</p>
        <ul>
          <li>Blue Bee Cider</li>
          <li>Capital Ale House</li>
          <li>Mint Gastropub</li>
          <li>Thirst & Fifth Gastropub</li>
        </ul>
      </div>

    </div>




  </div>
</section>
